// Typography
%typography-title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px ;
    font-weight: 700;
}
%typography-subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
%typography-description{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
%typography-resto{
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    font-weight: 500;
}
